%p#notice= notice
%h1 Rubygems Digger Working Center

=link_to 'Regenerate Works', '/regenerate'

%table
  %thead
    %tr
      %th Work type
      %th Content
      %th Version
      %th Status
      %th{:colspan => "3"}
  %tbody
    - @working_items.each do |working_item|
      %tr
        %td= working_item.work_type
        %td= working_item.content
        %td= working_item.version
        %td= working_item.status
        %td= link_to 'Show', working_item
        %td= link_to 'Edit', edit_working_item_path(working_item)
        %td= link_to 'Destroy', working_item, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Working Item', new_working_item_path
