%p#notice= notice
%p
  %strong Work type:
  = @working_item.work_type
%p
  %strong Content:
  = @working_item.content
%p
  %strong Version:
  = @working_item.version
%p
  %strong Status:
  = @working_item.status
= link_to 'Edit', edit_working_item_path(@working_item)
|
= link_to 'Back', working_items_path
