= form_for(working_item) do |f|
  - if working_item.errors.any?
    #error_explanation
      %h2
        = pluralize(working_item.errors.count, "error")
        prohibited this working_item from being saved:
      %ul
        - working_item.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :work_type
    = f.text_field :work_type
  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :version
    = f.number_field :version
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit
